/* set colour palette vars */
:root{
    --primary-deep-burgandy: #8C2B4F;
    --secondary-mustard-yellow: #F2AC29; 
    --secondary-off-white: #F2F2F2;
    --neutral-dark-grey: #333333;
    --neutral-medium-grey: #666666;
    --neutral-light-grey: #CCCCCC;
    --neutral-white: #FFFFFF;
    --link-unvisited-deep-burgandy:#8C2B4F;
    --link-visited-dark-burgandy:#6C1F3C;
    --analogous-red:#C24F4F;
    --analogous-purple: #B22B8C;
    --monochromatic-dark-burgandy:#6C1F3C;
    --monochromatic-deep-burgandy:#8C2B4F;
    --monochromatic-light-burgandy:#D24F4F;
    --monochromatic-pale-burgandy:#E6B3C1;
    --success-lime-green:#32CD32;
    --error-red:#FF4D4D;
    --complementary-green:#4FBA8C;
    --triadic-mustard-yellow:#F2AC29;
    --triadic-blue:#29A6F2;
    --accent-tomato: #FF6347;
    --accent-dark-turquoise: #00CED1;
}

/* Base styling for mobile-first design */
body {
    font-family: Arial, sans-serif;
    background-color: var(--neutral-white);
    color: var(--neutral-dark-grey);
    margin: 0;
    padding: 0;
}

/* Header styling */
header {
    background-image: url('/static/website_content/images/classroom-red-filter.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width:100%;
}

.logo-container{
    width:100%;
    height:auto;
    flex-shrink: 0;
}

/* Logo styling */
.header-logo {
    width: 85%;
    height:auto;
    border-radius: 50%;
    padding: 10px;
}

header h1 {
    grid-column: 2;
    grid-row:1;
    margin: 10px;
    text-align: center;
    font-size: 2em;
    color: var(--neutral-white);
}

/* grid setup for header component including navigation */
.header-grid-container {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: auto auto;
    align-items: center;
}

.header-grid-item-1{
    grid-column: 1;
    grid-row:1 / 2;
}
.header-grid-item-2{
    grid-column: 2;
    grid-row:1;
}
.header-grid-item-3{
    grid-column: 2;
    grid-row: 2;
}

/* Navigation */
nav {
    margin-top: 40px;
    background-color: var(--primary-deep-burgandy);
    width: 100%;
}

.nav-ul{
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    padding: 0;
    flex-wrap: wrap;
    margin:0;
    width:100%;
}

.nav-li{
    border: solid 1px;
    border-color: var(--monochromatic-dark-burgandy);
    flex:1;
}
.nav-button {
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
}

nav a {
    margin:0;
    padding:0;
    color: var(--secondary-off-white);
    text-decoration: none;
    display:flex;
    flex:1;
    width: 100%;
    justify-content: center;
}

nav a:hover {
    color: var(--secondary-mustard-yellow);
    text-decoration: none;
}


@media (min-width: 769px){
    i.fa.fa-bars{
        display:none !important;
    }
}

/* Mobile responsiveness - stack the nav vertically on smaller screens */
@media (max-width: 768px) {
    .header-grid-container{
        display:block
    }
    .header-text-container{
        width:100%;
    }
    .navigation-container{
        position:relative;
        height: 15px;
    }
    nav{
        flex-direction: column;
    }
    /* Change the nav to a column layout */
    .nav-ul{
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        display: none;
        margin:0;
    }
    .nav-li{
        padding-top: 5px;
    }

    /* Turn off logo on small screens */
    .header-logo {
        display:none;
    }

    header h1 {
        font-size: 1.5em;
        /* Adjust title font size for smaller screens */
    }
}


/* Button styling */
button,
.btn {
    background-color: var(--primary-deep-burgandy);
    /* Primary color */
    color: #FAF9F6;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
}

button:hover,
.btn:hover {
    background-color: var(--secondary-mustard-yellow);

}

main {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    background-color: var(--neutral-light-grey);
    margin: 10px auto;
    border-radius: 8px;
}

/* Responsive layout for larger screens */
@media (min-width: 768px) {
    main {
        width: 80%;
    }
}

@media (min-width: 1200px) {
    main {
        width: 60%;
    }
}

/* Footer styling */
footer {
    background-color: var(--neutral-dark-grey);
    color: var(--neutral-white);
    text-align: center;
    padding: 15px;
    font-size: 0.9em;
}

footer a {
    color: var(--neutral-white);
    text-align: center;
    padding: 15px;
    font-size: 0.9em;
}
