<!-- website_content/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}My Website{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'website_content/css/styles.css' %}">
    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon"
          type="image/x-icon"
          href="/static/website_content/images/corneli-primary-logo.ico">
    <script src="/static/website_content/js/app.js"></script>
  </head>
  <body>
    {% include "website_content/header.html" %}
    <main role="main">
      {% block content %}{% endblock %}
    </main>
    <footer role="contentinfo">
      <p>&copy; 2023 Corneli Primary</p>
      <a href="/contact-us/">Contact Us</a>
    </footer>
  </body>
</html>
