<nav role="navigation"
     class="header-grid-item-3"
     aria-label="Main navigation">
  <a href="javascript:void(0);" class="icon" onclick="toggleNavigation()">
    <i class="fa fa-bars"></i>
  </a>
  <ul class = nav-ul>
    <li class = "nav-li">
      <a href="/">
        <div class="nav-button">Home</div>
      </a>
    </li>
    <li class = "nav-li">
      <a href="/about/">
        <div class="nav-button">About Us</div>
      </a>
    </li>
    <li class = "nav-li">
      <a href="/admissions/">
        <div class="nav-button">Admissions</div>
      </a>
    </li>
    <li class = "nav-li">
      <a href="/curriculum/">
        <div class="nav-button">Classes & Curriculum</div>
      </a>
    </li>
    <li class = "nav-li">
      <a href="/parent-information/">
        <div class="nav-button">Parent Information</div>
      </a>
    </li>
    <li class = "nav-li">
      <a href="/school-life/">
        <div class="nav-button">School Life</div>
      </a>
    </li>
    <li class = "nav-li">
      <a href="/policies/">
        <div class="nav-button">Policies</div>
      </a>
    </li>
    <li class = "nav-li">
      <a href="/contact-us/">
        <div class="nav-button">Contact Us</div>
      </a>
    </li>
    <li class = "nav-li">
      <a href="/news-and-events/">
        <div class="nav-button">News and Events</div>
      </a>
    </li>
  </ul>
</nav>
